@font-face {
    font-family: 'DanielRegular';
    src: url('/assets/daniel-webfont.eot');
    src: url('/assets/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/daniel-webfont.woff') format('woff'),
         url('/assets/daniel-webfont.ttf') format('truetype'),
         url('/assets/daniel-webfont.svg#DanielRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DanielBold';
    src: url('/assets/danielbd-webfont.eot');
    src: url('/assets/danielbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/danielbd-webfont.woff') format('woff'),
         url('/assets/danielbd-webfont.ttf') format('truetype'),
         url('/assets/danielbd-webfont.svg#DanielBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DanielBlackRegular';
    src: url('/assets/danielbk-webfont.eot');
    src: url('/assets/danielbk-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/danielbk-webfont.woff') format('woff'),
         url('/assets/danielbk-webfont.ttf') format('truetype'),
         url('/assets/danielbk-webfont.svg#DanielBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DesyrelRegular';
    src: url('/assets/desyrel-webfont.eot');
    src: url('/assets/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/desyrel-webfont.woff') format('woff'),
         url('/assets/desyrel-webfont.ttf') format('truetype'),
         url('/assets/desyrel-webfont.svg#DesyrelRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'BonvenoCFLight';
    src: url('/assets/BonvenoCF-Light-webfont.eot');
    src: url('/assets/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/BonvenoCF-Light-webfont.woff') format('woff'),
         url('/assets/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('/assets/BonvenoCF-Light-webfont.svg#BonvenoCFLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MonospaceTypewriterRegular';
    src: url('/assets/MonospaceTypewriter-webfont.eot');
    src: url('/assets/MonospaceTypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/MonospaceTypewriter-webfont.woff') format('woff'),
         url('/assets/MonospaceTypewriter-webfont.ttf') format('truetype'),
         url('/assets/MonospaceTypewriter-webfont.svg#MonospaceTypewriterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CACChampagneRegular';
    src: url('/assets/cac_champagne-webfont.eot');
    src: url('/assets/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/cac_champagne-webfont.woff') format('woff'),
         url('/assets/cac_champagne-webfont.ttf') format('truetype'),
         url('/assets/cac_champagne-webfont.svg#CACChampagneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CarbonTypeRegular';
    src: url('/assets/carbontype-webfont.eot');
    src: url('/assets/carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/carbontype-webfont.woff') format('woff'),
         url('/assets/carbontype-webfont.ttf') format('truetype'),
         url('/assets/carbontype-webfont.svg#CarbonTypeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ExistenceLight';
    src: url('/assets/Existence-Light-webfont.eot');
    src: url('/assets/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Existence-Light-webfont.woff') format('woff'),
         url('/assets/Existence-Light-webfont.ttf') format('truetype'),
         url('/assets/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceUnicaseLight';
    src: url('/assets/Existence-UnicaseLight-webfont.eot');
    src: url('/assets/Existence-UnicaseLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Existence-UnicaseLight-webfont.woff') format('woff'),
         url('/assets/Existence-UnicaseLight-webfont.ttf') format('truetype'),
         url('/assets/Existence-UnicaseLight-webfont.svg#ExistenceUnicaseLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceStencilLight';
    src: url('/assets/Existence-StencilLight-webfont.eot');
    src: url('/assets/Existence-StencilLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Existence-StencilLight-webfont.woff') format('woff'),
         url('/assets/Existence-StencilLight-webfont.ttf') format('truetype'),
         url('/assets/Existence-StencilLight-webfont.svg#ExistenceStencilLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HVDPeace';
    src: url('/assets/HVD_Peace-webfont.eot');
    src: url('/assets/HVD_Peace-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/HVD_Peace-webfont.woff') format('woff'),
         url('/assets/HVD_Peace-webfont.ttf') format('truetype'),
         url('/assets/HVD_Peace-webfont.svg#ExistenceStencilLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('/assets/Ubuntu-R-webfont.eot');
    src: url('/assets/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-R-webfont.woff') format('woff'),
         url('/assets/Ubuntu-R-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('/assets/Ubuntu-RI-webfont.eot');
    src: url('/assets/Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-RI-webfont.woff') format('woff'),
         url('/assets/Ubuntu-RI-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-RI-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('/assets/Ubuntu-B-webfont.eot');
    src: url('/assets/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-B-webfont.woff') format('woff'),
         url('/assets/Ubuntu-B-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-B-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('/assets/Ubuntu-BI-webfont.eot');
    src: url('/assets/Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-BI-webfont.woff') format('woff'),
         url('/assets/Ubuntu-BI-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-BI-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('/assets/Ubuntu-L-webfont.eot');
    src: url('/assets/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-L-webfont.woff') format('woff'),
         url('/assets/Ubuntu-L-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('/assets/Ubuntu-LI-webfont.eot');
    src: url('/assets/Ubuntu-LI-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-LI-webfont.woff') format('woff'),
         url('/assets/Ubuntu-LI-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-LI-webfont.svg#UbuntuLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('/assets/Ubuntu-M-webfont.eot');
    src: url('/assets/Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-M-webfont.woff') format('woff'),
         url('/assets/Ubuntu-M-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-M-webfont.svg#UbuntuMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('/assets/Ubuntu-MI-webfont.eot');
    src: url('/assets/Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-MI-webfont.woff') format('woff'),
         url('/assets/Ubuntu-MI-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-MI-webfont.svg#UbuntuMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('/assets/Ubuntu-C-webfont.eot');
    src: url('/assets/Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Ubuntu-C-webfont.woff') format('woff'),
         url('/assets/Ubuntu-C-webfont.ttf') format('truetype'),
         url('/assets/Ubuntu-C-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RadiolandRegular';
    src: url('/assets/RADIOLAND-webfont.eot');
    src: url('/assets/RADIOLAND-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/RADIOLAND-webfont.woff') format('woff'),
         url('/assets/RADIOLAND-webfont.ttf') format('truetype'),
         url('/assets/RADIOLAND-webfont.svg#RadiolandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RadiolandSlimRegular';
    src: url('/assets/RADIOLANDSLIM-webfont.eot');
    src: url('/assets/RADIOLANDSLIM-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/RADIOLANDSLIM-webfont.woff') format('woff'),
         url('/assets/RADIOLANDSLIM-webfont.ttf') format('truetype'),
         url('/assets/RADIOLANDSLIM-webfont.svg#RadiolandSlimRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TangerineRegular';
    src: url('/assets/Tangerine_Regular-webfont.eot');
    src: url('Tangerine_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Tangerine_Regular-webfont.woff') format('woff'),
         url('/assets/Tangerine_Regular-webfont.ttf') format('truetype'),
         url('/assets/Tangerine_Regular-webfont.svg#TangerineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TangerineBold';
    src: url('/assets/Tangerine_Bold-webfont.eot');
    src: url('/assets/Tangerine_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Tangerine_Bold-webfont.woff') format('woff'),
         url('/assets/Tangerine_Bold-webfont.ttf') format('truetype'),
         url('/assets/Tangerine_Bold-webfont.svg#TangerineBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CapsuulaRegular';
    src: url('/assets/Capsuula-webfont.eot');
    src: url('/assets/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Capsuula-webfont.woff') format('woff'),
         url('/assets/Capsuula-webfont.ttf') format('truetype'),
         url('/assets/Capsuula-webfont.svg#CapsuulaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RalewayThin';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway_thin-webfont.woff') format('woff'),
         url('raleway_thin-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

